{% extends 'base.html' %}

{% block title %}Ethnic Wear - Shopuniverse{% endblock %}

{% block content %}

<!-- HERO -->
<div class="hero">
    <h1>Ethnic Wear Collection</h1>
    <p>Traditional styles with modern elegance</p>
</div>

<!-- PRODUCTS -->
<div class="products">

    <!-- Anarkali -->
    <div class="product-card">
        <img src="{{ url_for('static', filename='img/anar.jpeg') }}" alt="Anarkali Dress">
        <h3><a href="{{ url_for('anarkali_details') }}">Anarkali Dress</a></h3>

        <p>₹1499</p>
        <p>Elegant Anarkali for festive occasions.</p>
    </div>

    <!-- Kurti -->
    <div class="product-card">
        <img src="{{ url_for('static', filename='img/kurti.jpeg') }}" alt="Kurti Set">
        <h3><a href="{{ url_for('kurti_details') }}">Kurti Set</a></h3>

        <p>₹999</p>
        <p>Comfortable kurti set for daily wear.</p>
    </div>

    <!-- Lehenga -->
    <div class="product-card">
        <img src="{{ url_for('static', filename='img/lehanga.jpeg') }}" alt="Lehenga Choli">
        <h3><a href="{{ url_for('lehenga_details') }}">Lehenga Choli</a></h3>

        <p>₹2499</p>
        <p>Traditional lehenga perfect for weddings.</p>
    </div>

    <!-- Saree -->
    <div class="product-card">
        <img src="{{ url_for('static', filename='img/saree.jpeg') }}" alt="Saree">
        <h3><a href="{{ url_for('saree_details') }}">Saree Collection</a></h3>

        <p>₹1999</p>
        <p>Stylish saree with modern design.</p>
    </div>

</div>

{% endblock %}
